/* --- tags --- */
body {
    background-color: lightblue;
    text-align: center;
}

img {
    width: 25%;
}

li {
    text-align: left;
}

/* --- id references --- */

#title {
    background-color: lightgray;
    margin: 1em;
    padding: 1em;
}

#tribute-info {
    background-color: lightgray;
    text-align: center;
}
